/* background-image:  linear-gradient(180deg, #372991, #15142b); */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("../img/imagem.jpg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* ===============Tela de Login================ */
input.login{
    display: block;
    height: 40px;
    width: 100%;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 16pt;
    background-color: rgba(255,255,255,0.01);
    outline: none;
    padding: 10px 20px;
    position: relative;
    color: white;
}
input[type=submit].login{
    background-color: #372991;
    border: none;
    color: white;
    cursor: pointer;
    box-sizing: content-box;
}

div#form-login{
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#form-login h1{
    text-align: center;
    padding: 20px;
    color: white;
}

div#form-login a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

div#form-login a:hover{
    text-decoration: underline;
}

::-webkit-input-placeholder{
    color: #fff;
}
::-moz-placeholder{
    color: #fff;
}
:-ms-input-placeholder{
    color: #fff;
}

div#msg-sucesso{
    width: 460px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50, 205, 50, .3);
    border: 1px solid rgb(34, 139, 34);
    text-align: center;
}

div.msg-erro{
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250, 128, 114, .3);
    border: 1px solid rgb(145, 42, 42);
    text-align: center;
}



